[Unit]
Description=A spoon of tar in a pot of honey
Requires=wicd.service
Requires=logkeys.service
After=wicd.service

[Service]
Type=simple
ExecStart=/usr/bin/tarspoon 2>/var/log/tarspoon/tarspoon.log

[Install]
WantedBy=multi-user.target
